<!DOCTYPE html>
<html>
<head>
    <title>Sheikh Query</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <script src="../static/script.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap" />
</head>
<body>
<!-- <h1 class="title">Sheikh Query</h1> -->

<div class="topnav">
    <div class="nav-buttons">
        <a href="http://127.0.0.1:8080"><img class="logo"src="../static/images/NEWLOGO.png"></a>
        <a class="active" href="http://127.0.0.1:8080">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <form id="search-form">
            <input type="text" id="search-input" name="query" placeholder="Search..">
        </form>
    </div>
</div>



<div class="card-container">
    {% if query is none %}
        {% for card in cards %}
        <script type="text/javascript">
            var tmgan = "{{ card.cardID }}";
        </script>

        <button>
            <div class="card">
                <div class="card-header">
                    <h2>{{ card.title }}</h2>
                </div>
            </div>

            <!-- <p class="cardID">Card ID: {{ card.cardID }}</p> -->
        </button>

        <div id="tmgan" class="modal">
            <div class="modal-content" class="card-body">
                <span class="close">&times;</span>

                <!-- <p class="transcript-preview">{{ card.transcript }}</p> -->
                <!-- <p class="read-more">Read More</p> -->

                <div>Question: {{ card.title }}</div>
                <br/>
                <div>Answer:</div>
                <div class="full-transcript">{{ card.transcript }}</div>
                <br/>

                <p>Original Video:</p>
                <div class="video-container">
                    <!-- <iframe loading="lazy" src="{{ card.embed }}"></iframe> -->
                </div>
                <p class="author">Author : {{ card.author }}</p>
            </div>
        </div>
        {% endfor %}
    {% else %}
        {% if cards|length == 0 %}
            <p>No results found.</p>
        {%else%}
            <div class="search-results-container"></div>
        {% endif %}
    {% endif %}


</div>
</body>
</html>
